footer(data-theme='dark')
    .container
        .layoutFooter.py-2.d-flex.flex-column.g-3.font-size-12
            .row
                .col-3.col-sm-2.col-lg-3.fs-15.py-2.d-flex.flex-column.g-3
                    .d-flex.flex-column.g-2
                        h3.my-0 Quis autem vel eum iure reprehenderit
                        p.my-0 Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma
                    .d-block
                        a.btn.btn-secondary.button.button--calypso
                            span Клубные карты
                .col-3.col-sm-2.col-lg-4
                    nav.d-flex.flex-column
                        a(href="#",data-theme='light_').p-2
                            span Расписание занятий
                        a(href="#").p-2
                            span Правила клуба
                        a(href="#").p-2
                            span Блог
                        a(href="#").p-2
                            span О компании
                        a(href="#").p-2
                            span Контакты
            .d-flex.flex-column.flex-lg-nowrap.g-3.flex-md-row-reverse.fs-12.justify-space-between.pb-1
                .col-3.col-sm-4.col-md-auto
                    .layoutFooter_law.d-flex.flex-wrap.g-half
                        a(href="#") Юридическая информация
                        span.link.disabled /
                        a(href="#") Оферта
                        span.link.disabled /
                        a(href="#") Политика конфиденциальности
                        span.link.disabled /
                        a(href="#") Карта сайта
                .col-3.col-sm-4.col-md-auto
                    .layoutFooter_copy.text-left.d-block.d-md-flex.g-md-1
                        span.text-nowrap.d-inline-block © 2023. Фитнес-клуб Savoy. 
                        span.text-nowrap.d-inline-block Центр спорта и здоровья
include popup_mobile_nav
include popup_contact