.main_cards
    .container
        .row.border-top
        .main_cards_head
            .row.pt-4.align-items-center.justify-space-between.align_items-md-flex-start
                .col-3.col-sm-3.col-md-1.col-lg-3.d-flex.align_items-center
                    i.icon-Point
                    .text-uppercase.fs-10.fw-500 Клубные карты SAVOY
                div.col-sm.d-none.d-sm-flex.d-md-none.g-1
                    .control.control-dark.swiper-btn-prev
                        i.icon-Arrow-left
                    .control.control-dark.swiper-btn-next
                        i.icon-Arrow-right
                .col-3.col-md-3.col-lg-4
                    .row.justify-space-between
                        h2.col-3.col-md-3.h4.fs-sm-40.mt-0.mb-0.header_hidden_top Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut al
                        div(data-theme='dark').d-none.d-md-flex.g-1.col-md
                            .control.swiper-btn-prev
                                i.icon-Arrow-left
                            .control.swiper-btn-next
                                i.icon-Arrow-right
        .main_cards_slider.mb-10
            .swiper
                .swiper-wrapper
                    each i in [0,1,2,3,4,5,6,7,8]
                        .swiper-slide
                            a(href="#")
                                .main_article_picture.br-12.mt-4
                                    img.hover-scale-105(src="images/card.png", alt="alt")
                                    .bages.p-1.d-flex.g-1.fs-10.lh-24.text-uppercase
                                        .bages_item.px-1.br-6.bg-primarybrown Чистые пруды
                                        .bages_item.px-1.br-6.bg-primarybrown Скидка
                                .h3.fs-24.fs-sm-32 Neque porro quisquam 
                                p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma
                .mt-4.d-lg-none
                    .d-inline-flex.d-sm-none.g-1
                        .control.control-dark.swiper-btn-prev
                            i.icon-Arrow-left
                        .control.control-dark.swiper-btn-next
                            i.icon-Arrow-right