.main_article.pb-10
    .container
        .main_article_picture.br-12.mt-4
            img(src="images/article.png", alt="alt")
        .d-flex.mt-4.align_items-center
            i.icon-Point
            .text-uppercase.fs-10.fw-500 Велнес-философия Savoy
        .main_article_body.row.flex-column.flex-lg-row
            .col-3.col-lg-4
                h2.h4.fs-sm-40.mt-3.mb-0
                    | Центр спорта и здоровья 
                    i Savoy Wellness 
                    | приглашает вас полноценно позаботиться о своей душевной и телесной гармонии
            .col-3.col-lg-3
                p Европейское оборудование класса люкс, авторские программы тренировок, большой выбор уходовых процедур — всё это воплощение велнес-философии наших клубов, в основе которой лежит бережное внимание к потребностям каждого гостя.
                p Приглашаем вас начать свой путь к здоровью, релаксации, красоте и глубокой внутренней гармонии в Центре спорта и здоровья Savoy Wellness!
            .col-3.col-lg-7
                .btn.btn-secondary.button.button--calypso
                    span Клубные карты