.hero.hero_underground(data-theme='light')
    .hero_banner
        img(src="images/hero.jpeg", alt="")
        //- video(src="https://html.contserv.tmweb.ru/savoy_static/video_3.mp4",autoplay,loop,muted) 
    .hero_content.h-100.d-flex.flex-column.justify-content-end.py-6.px-2_
        .container.d-flex.flex-column.g-3
            .ff-playfair.fw-600.fs-40.fs-sm-64.header_hidden_top_
                div.header_hidden_top Фитнес-клубы 
                .fst-italic.header_hidden_top Savoy Wellness
            .d-flex.g-1
                a(href="#").btn.btn-primary.button.button--calypso
                    span Клубные карты
                a(href="#").btn.btn-secondary.button.button--calypso
                    i.icon-Arrow-top-right
                    span Обзор клубов
