.main_map.py-2
    .container
        .main_map_wrapper.br-16.bg-opacitydark-50
            .main_map_back.bg-white
                img(src="images/Map.png", alt="")
            .main_map_front.p-3.d-none.d-md-block
                .row.justify-content-end
                    .col-lg-3.col-md-2.br-12
                        include form_wellcome
            .main_map_front.p-2.d-flex.d-md-none.flex-column.justify-flex-end
                a.btn.btn-primary.button.button--calypso.text-center.justify-center(data-popup="contact")
                    span Оформить клубную карту