.popup(data-name="mobile_nav",data-opened="0").d-lg-none
    .popup_mobile_nav.d-flex.flex-column.justify-space-between.pt-3.pb-3.px-2_(data-theme="light")
        .container
            nav.my-5
                ul.m-0.p-0.d-flex.flex-column.g-3.fs-32.fs-32.fw-600.ff-playfair.fs-sm-40
                    li.d-block
                        a.link.link-accent(href="#") Расписание
                    li.d-block
                        a.link.link-accent(href="#") Клубные карты
                    li.d-block
                        a.link.link-accent(href="#") Личный кабинет
                    li.d-block
                        a.link.link-accent(href="#") Контакты
        .container
            footer.d-flex.flex-column.g-4
                .d-flex.flex-column.g-1
                    .fs-12
                        | Свяжитесь с нами
                    .fs-32.fw-600.ff-playfair.fs-sm-40
                        | +7 (495) 775 35 35
                .d-flex.justify-space-between.py-half.d-sm-none
                    a.button.btn.btn-secondary.button--calypso(data-popup="club")
                        i.icon-Pluse
                        span Выбрать клуб
                    .d-flex.g-1
                        a.control.control-social(href="//vk.com")
                            i.icon-VK
                        a.control.control-social(href="//vk.com")
                            i.icon-Whatsapp