.popup(data-name="club",data-opened="0")
    .d-flex.flex-column.align_items-center.justify-center.h-100.bg-opacitylight-80.p-6
        .container.popup-close.text-right(data-popup="club")
            i.icon-Close.bg-opacitydark-10.br-6
        .container
            .bg-black.color-white.br-12.fs-10.text-nowrap.text-uppercase
                a(href="#").d-flex.align-items-center.g-half.p-1.pl-2.justify-space-between.layoutHeader_club
                    span Чистые пруды
                    i.icon-Arrow-top-right.bg-opacitydark-10.filter-invert.br-6
                a(href="#").d-flex.align-items-center.g-half.p-1.pl-2.justify-space-between.layoutHeader_club
                    span Новослободская
                    i.icon-Arrow-top-right.bg-opacitydark-10.filter-invert.br-6
