doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        script(src="js/main.js") 
        title Savoy Index
    body 
        .container
            .layoutFooter
                nav.d-flex.flex-column.min-vh-100.p-4
                    a(href="ui.html").p-2 UI Kit
                    a(href="icons/css/sprite.css.html").p-2 Icons
                    a(href="empty.html").p-2 Пустая страница
                    a(href="video.html").p-2 Шапка с вдео
                    a(href="main.html").p-2 Главная
                    //- a.p-2 Контакты
