.fst-italic {
  font-style: italic;
}

.fst-normal {
  font-style: normal;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-bolder {
  font-weight: bolder;
}

.text-center {
    text-align: center;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }
  
  .text-decoration-underline {
    text-decoration: underline;
  }
  
  .text-decoration-line-through {
    text-decoration: line-through;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-capitalize {
    text-transform: capitalize;
  }
  
  .text-wrap {
    white-space: normal;
  }
  
  .text-nowrap {
    white-space: nowrap;
  }