.csselect{
    width: 100%;
    // text-transform: uppercase;
    position: relative;
    cursor: pointer;
    --bg: var(--opacitydark-10);
    --hw: var(--opacitydark-20);
    --ac: var(--opacitydark-5);
    --ex: var(--black);
    --op: var(--white);
    font: 500 10px/16px 'Montserrat';
    // :focus{
    //     background: red;
    // }
    select{
        opacity: 0.0; position: absolute; top: 8px; left: 16px; z-index: -1;
    }
    &-value{
        background-color: var(--bg);
        border-radius: 12px;
        padding: 8px 8px 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        &:hover{
            background-color: var(--hw);
        }
        i{
            border-radius: 6px;
            background-color: var(--white);
            filter: invert(1);
        }
    }
    &-list{
        // background-color: var(--op);
        background-color: var(--ex);
        filter: invert(1);
        border-radius: 12px;
        position: absolute;
        top: calc(100% + 2px); left:0; z-index: 10;
        width: 100%;
        height: 0; 
        overflow: hidden;
        transition: 300ms;
        &[data-dno="1"]{
            bottom: calc(100% + 2px); top:auto;
        }
    }
    &-trigger{
        display: inline-block;
        height: 24px;
        &:hover{
            background-color: var(--ac);
        }
    }
    &-item{
        padding: 12px 16px;
    }
    &.active &-item{
        background-color: var(--bgi);
        &.active{
            background-color: var(--ac);
        }
        &:hover{
            background-color: var(--hw);
        }
    }
    &.active &-value{ /*, &.active &-item*/
        background: var(--ex);
        filter: invert(1);
    }
    [data-theme="dark"] &,&-dark{
        --bg: var(--opacitydark-10);
        --hw: var(--opacitydark-20);
        --ac: var(--opacitydark-5);

        --bgi: var(--opacitylight-10);
        --hwi: var(--opacitylight-20);
        --aci: var(--opacitylight-5);

        --ex: var(--white);
        --op: var(--white);
    }
    [data-theme="dark"] &-list,&-dark &-list{
        filter: invert(1);
    }
    [data-theme="light"] &,&-light{
        --bg: var(--opacitylight-20);
        --hw: var(--opacitylight-30);    
        --ac: var(--opacitylight-5);
        --bgi: var(--opacitydark-20);
        --hwi: var(--opacitydark-30);    
        --aci: var(--opacitydark-5);
        --ex: var(--black);
        --op: var(--black);
        i{
            filter: invert(0);
        }
    }

}