.main_map{
    
    .br-16{
        border: 1px solid var(--opacitydark-20, rgba(0, 0, 0, 0.20));
    }
    &_wrapper{
        position: relative;
        min-height: 400px;
        > div:last-child{
            position: absolute;
            bottom: 0; width: 100%;
        }
    }
    &_back{
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_front{
        position: relative;
        z-index: 650;
    }

    &_ymap{
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: var(--opacitylight-20);
    }

    .form-field{
        .csinput{
            width: 100%;
        }
    }
}